@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

h2{
  font-family: "PT Serif";
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base {
  button {
    @apply border py-2 px-3 rounded-2xl 
  }
}




@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';