@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

h2{
  font-family: "PT Serif";
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base {
  button {
    @apply border py-2 px-3 rounded-2xl 
  }
}

#btn1 {
  border: none;
  padding: 2;
  text-align: left;
  font-weight: bold; 
  
}

#btn1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Estilo imagenes Opciones */
.relative {
  position: relative;
}

.fade-in-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.relative:hover .fade-in-text {
  opacity: 1;
}



@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';